<section class="education">
  <header>
    <h3>{{ edu.name }}</h3>
    <div class="education__institute">{{ edu.institute }}</div>
    <div class="education__date">{{ edu.start_date }} - {{ edu.end_date }}</div>
  </header>
</section>
