<section class="column__section column__section--with-subcolumns column__section--languages">
  <header>
    <h2>Languages</h2>
  </header>
  <div class="column__section__content">
    {% for language in language_component_content %}
      {% include '../../components/language/index.njk' %}
    {% endfor %}
  </div>
</section>
