<section class="entry">
  <div class="w-full">
    <header>
      <h3>
        <div class="flex gap-[10px] items-center">
          <div>
            <span>{{ entry.title }}</span>
            {% if entry.subtitle %}<span> | {{ entry.subtitle }}</span>{% endif %}
            {% if entry.link %}
              <a href="{{ entry.link }}" target="_blank">
                <i class="fas fa-link"></i>
              </a>
            {% endif %}
          </div>

          {% if entry.time %}<div class="text-base font-normal text-cv-light">{{ entry.time }}</div>{% endif %}
        </div>
      </h3>
    </header>
    {% if entry.timeplace %}<div class="text-base font-normal text-cv-light">{{ entry.timeplace }}</div>{% endif %}
    {% if entry.description %}
      <div class="entry-content">{{ entry.description | safe }}</div>
    {% endif %}
    {% if entry.tags %}
      <div class="flex flex-wrap list-none -mx-2 p-0 mt-0">
        {% for tag in entry.tags %}
          {% include '../tag/index.njk' %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
