<footer class="text-base font-normal text-cv-light text-center mt-page flex justify-center font-roboto">
  {% for info in personal_info_component_content %}
    {% include 'src/components/personal_info/index.njk' %}
  {% endfor %}
</footer>
