<footer class="text-base font-normal text-cv-light text-center mt-page flex justify-center font-roboto">
  {% for info in footer %}
    {% include 'src/sections/footer/personal_info.njk' %}
  {% endfor %}
</footer>
