.job {
  &__date {
    @extend %h4;
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0.75rem -0.5rem 0;
    padding: 0;
  }

  &__description {
    text-align: justify;
    margin-top: 1rem;
    font-size: 11px;

    a {
      color: $light;
    }
  }
}
