.language {
  margin-top: 0.3rem !important;

  &__level {
    @extend %h3;
    font-weight: 400;
  }

  &__description {
    @extend %h4;
  }

  .main-content {
    display: flex;
    gap: $columns-gap;
  }
}
