<div class="certificate">
  <header>
    <h3>
      <span>{{ certificate.title }}</span>
      {% if certificate.link %}
        <a href="{{ certificate.link }}" target="_blank">
          <i class="fas fa-link"></i>
        </a>
      {% endif %}
    </h3>
    <div class="certificate__description">
      {{ certificate.description }} - {{ certificate.year }}
    </div>
  </header>
  {% if certificate.note %}
    <p class="certificate__note">{{ certificate.note | safe }}</p>
  {% endif %}
</div>
