.certificate {
  @include subcolumn(
    $number-of-columns: 2,
    $margin: $subcolumn-row-spacing,
    $padding: $page-spacing
  );

  &__description {
    @extend %h4;
  }

  &__note {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    text-align: right;
    margin-top: 1rem;
  }

  a {
    color: $light;

    i {
      font-size: 0.8em;
    }
  }
}
