<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Ilias Trichopoulos CV</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Jura&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/solid.css" integrity="sha384-qPldrzmea0i8jhonuql0da/kQWeaXdQl+krGXcTQUdRUGHcXBfSrBbZLbyMcCWcF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/brands.css" integrity="sha384-qVnmyLTtnGPGEN3HDG2MCEOXWH1Yk/i70lKRuV+gMCDQg+jblQlFGPf1mejWUyYG" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/fontawesome.css" integrity="sha384-hM7EQerc09E4O3zhtvF2iqcB4ZkEu9xkLQndhXdGGCEJ/sB4JK54SuKGmIC35UTf" crossorigin="anonymous">
  </head>
  <body>
    {% include '../components/github_corner/index.njk' %}
    <article class="page back">
      <main>
        <div class="column column--left">
          {% include '../sections/certificates.njk' %}
        </div>
        <div class="separator separator--horizontal"></div>
        <div class="column column--right">
          {% include '../sections/interests.njk' %}
        </div>
      </main>
      {% include '../sections/footer/index.njk' %}
    </article>
  </body>
</html>
