<header class="border-b border-cv-dark mb-page flex justify-center text-center">
  <div class="py-page">
    <h1>Ilias Trichopoulos</h1>
    <h2 class="font-bold mb-0 !mt-[0.3rem]">Frontend Engineering</h2>
  </div>
</header>
