header.page-header {
  border-bottom: 1px solid $dark;
  margin-bottom: $page-spacing;
  display: flex;
  justify-content: center;
  text-align: center;

  > div {
    padding: $page-spacing 0;
  }

  h2 {
    @extend %h3;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.3rem;
  }
}
