.page-turner {
  position: absolute;
  top: 50%;
  display: inline-flex;
  background-color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &--back {
    right: -50px;
  }

  &--front {
    left: -50px;
  }

  @media print {
    display: none;
  }
}
