<section class="entry">
  <div class="w-full">
    <header>
      <h3>{{ skill.title }}</h3>
    </header>
    {% if skill.description %}
      <div class="entry-content">{{ skill.description | safe }}</div>
    {% endif %}
  </div>
</section>
