<section class="page__section">
  <header>
    <h2>About</h2>
  </header>
  <div class="page__section__content">
    <div class="main-content">
      <p class="text-[1.1rem]">Staff Frontend Engineer with 10+ years of experience architecting and delivering high-performance, secure blockchain and fintech applications across web and mobile platforms. Core maintainer of Alephium's self-custody wallets (React, React Native, Next.js), serving 20'000+ MAUs. Proven track record of setting technical direction, building scalable state management for real-time data, and driving frontend excellence through shared UI libraries and performance tuning. Deeply aligned with the crypto ethos and passionate about building accessible, reliable DeFi products that empower users globally.</p>
    </div>
  </div>
</section>