<section class="page__section">
  <header>
    <h2>About</h2>
  </header>
  <div class="page__section__content">
    <div class="main-content">
      <p>Through my 10 years of experience in web development, I have acquired a wide range of technical and human skills. My colleagues and superiors consistently recognize my natural organizational skills. The designers I work with appreciate my obsessive accuracy when bringing their designs to life.</p>
    </div>
  </div>
</section>
