<section class="page__section">
  <header>
    <h2>About</h2>
  </header>
  <div class="page__section__content">
    <div class="main-content">
      <p class="text-[1.1rem]">Software engineer with 14+ years of experience building high-performance, production systems across web, desktop, and mobile platforms. Core maintainer of Alephium blockchain apps <a href="https://github.com/alephium/alephium-frontend/" target="_blank"><i class="fas fa-link"></i></a> serving 20'000+ monthly active users. Strong background in system architecture, performance optimization, and building reliable, security-critical software. Passionate about engineering quality, performance, and creating maintainable systems used in production.</p>
    </div>
  </div>
</section>
