<section class="column__section column__section--with-subcolumns">
  <header>
    <h2>Talks & Volunteer work</h2>
  </header>
  <div class="column__section__content">
    {% for activity in activity_component_content %}
      {% include '../components/activity/index.njk' %}
    {% endfor %}
  </div>
</section>
