<section class="page__section">
  <header>
    <h2>Strengths</h2>
  </header>
  <div class="page__section__content">
    {% for attribute in attributes %}
      {% include 'src/sections/attribute.njk' %}
    {% endfor %}
  </div>
</section>
