<section class="page__section">
  <header>
    <h2>Strengths</h2>
  </header>
  <div class="page__section__content">
    {% for attribute in attribute_component_content %}
      {% include 'src/components/attribute/index.njk' %}
    {% endfor %}
  </div>
</section>
