<section class="column__section column__section--with-subcolumns">
  <header>
    <h2>Certificates</h2>
  </header>
  <div class="column__section__content">
    {% for certificate in certificate_component_content %}
      {% include '../components/certificate/index.njk' %}
    {% endfor %}
  </div>
</section>
