<section class="column__section">
  <header>
    <h2>Education</h2>
  </header>
  <div class="column__section__content">
    {% for edu in education_component_content %}
      {% include '../components/education/index.njk' %}
    {% endfor %}
  </div>
</section>
