<section class="page__section">
  <header>
    <h2>Education</h2>
  </header>
  <div class="page__section__content">
    {% for entry in education_component_content %}
      {% include 'src/components/entry/index.njk' %}
    {% endfor %}
  </div>
</section>
