<header class="border-b border-cv-dark mb-page flex justify-center text-center">
  <div class="py-page">
    <h1>Ilias Trichopoulos</h1>
    <h2 class="font-medium text-cv-dark text-[1.1rem] mb-0 !mt-[0.3rem]">Software Engineer</h2>
  </div>
</header>
