<header class="flex justify-center text-center">
  <div class="pt-page pb-2">
    <h1>Ilias Trichopoulos</h1>
    <h2 class="font-medium text-cv-dark text-[1.1rem] mb-0 !mt-[0.3rem]">Senior Software Engineer | Frontend Architect</h2>
  </div>
</header>
