<section class="page__section">
  <header>
    <h2>Interests</h2>
  </header>
  <div class="page__section__content">
    {% for interest in interests %}
      {% include 'src/sections/interest.njk' %}
    {% endfor %}
  </div>
</section>
