<section class="page__section">
  <header>
    <h2>Interests</h2>
  </header>
  <div class="page__section__content">
    {% for interest in interest_component_content %}
      {% include '../components/interest/index.njk' %}
    {% endfor %}
  </div>
</section>
