<section class="column__section column__section--with-subcolumns">
  <header>
    <h2>Languages</h2>
  </header>
  <div class="column__section__content">
    {% for language in language_list %}
      {% include '../components/language/index.njk' %}
    {% endfor %}
  </div>
</section>
