<section class="flex gap-[30px] items-baseline !mt-[0.3rem]">
  <div class="w-[34px] text-right">
    <header>
      <h3>{{ language.name }}</h3>
    </header>
  </div>
  <div class="flex gap-[30px]">
    <div class="font-normal text-cv-dark text-[1.1rem]">{{ language.level }}</div>
    {% if language.description %}<div class="text-base font-normal text-cv-light">{{ language.description }}</div>{% endif %}
  </div>
</section>
