<section class="page__section">
  <header>
    <h2>Other things I am proud of</h2>
  </header>
  <div class="page__section__content">
    {% for entry in other_component_content %}
      {% include 'src/components/entry/index.njk' %}
    {% endfor %}
  </div>
</section>
