<section class="page__section">
  <header>
    <h2>My favorite side-hussles</h2>
  </header>
  <div class="page__section__content">
    {% for entry in project_component_content %}
      {% include '../components/entry/index.njk' %}
    {% endfor %}
  </div>
</section>
