<section class="page__section ">
  <header>
    <h2>Proud of</h2>
  </header>
  <div class="page__section__content">
    <section class="entry">
      <div class="w-full">
        <div class="entry-content">The quality of the <b>Alephium desktop & mobile wallets</b> and the impact they have on the project.</div>
      </div>
    </section>
    <section class="entry">
      <div class="w-full">
        <div class="entry-content">My <b>side-projects</b> found on GitHub that I built to fix my own problems.</div>
      </div>
    </section>
    <section class="entry">
      <div class="w-full">
        <div class="entry-content"><b>Volunteering as a board member</b> of local student network (ESN AUTH) & <b>building the ESN WebManager app</b>.</div>
      </div>
    </section>
  </div>
</section>
