<section class="page__section">
  <header>
    <h2>Key Strengths</h2>
  </header>
  <div class="page__section__content">
    {% for entry in skills %} {% include 'src/components/entry/index.njk' %} {% endfor %}
  </div>
</section>
