<section class="page__section">
  <header>
    <h2>Training</h2>
  </header>
  <div class="page__section__content">
    {% for entry in training_component_content %}
      {% include '../components/entry/index.njk' %}
    {% endfor %}
  </div>
</section>
