@mixin letter-size() {
  width: $letter-width;
  height: $letter-height;
}

@mixin timeline-marker(
  $year-start,
  $month-start,
  $year-end: $current-year,
  $month-end: $current-month
) {
  $timeline-year-start: 2008;
  $timeline-month-start: 9;
  $timeline-year-now: $current-year;
  $timeline-month-now: $current-month;
  $duration: ($year-end - $year-start) * 12 + ($month-end - $month-start);
  $months-since-beginning: ($year-start - $timeline-year-start) * 12 +
    ($month-start - $timeline-month-start);
  $unit: $left-column-width /
    (
      ($timeline-year-now - $timeline-year-start) * 12 +
        ($timeline-month-now - $timeline-month-start)
    );

  left: calc(#{$unit} * #{$months-since-beginning});
  width: calc((#{$unit}) * #{$duration});
}

@mixin timeline-dot($year-start, $month-start) {
  $timeline-year-start: 2008;
  $timeline-month-start: 9;
  $timeline-year-now: $current-year;
  $timeline-month-now: $current-month;
  $months-since-beginning: ($year-start - $timeline-year-start) * 12 +
    ($month-start - $timeline-month-start);
  $unit: $left-column-width /
    (
      ($timeline-year-now - $timeline-year-start) * 12 +
        ($timeline-month-now - $timeline-month-start)
    );

  left: calc(#{$unit} * #{$months-since-beginning});
}
