$letter-width: 8.27in;
$letter-height: 12in; // TODO: investigate issue with 11.69in on Safari iPhone

$page-spacing: 16pt;
$column-section-spacing: 3rem;

$fa-font-path: '../static/fonts/fontawesome';

$left-column-width: 200px;
$columns-gap: 30px;

$current-year: 2025;
$current-month: 11;
