.page {
  $prefix: column;

  &__section {
    &:not(:last-child) {
      margin-bottom: $page-spacing;
    }

    &__content {
      margin-top: 1.2rem;

      > section:not(:first-child) {
        margin-top: 1.2rem;
      }
    }

    header {
      h2 {
        display: flex;
        gap: $columns-gap;
        align-items: center;

        // &::before {
        //   content: ' ';
        //   display: block;
        //   border-top: 5px solid$red;
        //   width: $left-column-width;
        // }
      }
    }
  }

  .columns {
    display: flex;
    gap: $columns-gap;
    margin-top: 1.5rem;
  }

  .left-side-bar {
    width: $left-column-width;
  }

  .right-main-content {
    flex: 1;
  }
}
