h1,
%h1 {
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: $red;
}

h2,
%h2 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: $red;
}

h3,
%h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: $dark;
  margin-bottom: 0.5rem;
}

h4,
%h4 {
  font-size: 1rem;
  font-weight: 400;
  color: $light;
}

p,
%p {
  font-weight: 400;
  color: $primary;
}

a {
  color: $light;

  i {
    font-size: 0.8em;
  }
}
